extends base.pug
block style
    link(rel='stylesheet', href="../static/style.css")
block content 
    Section#introsection
        | Welcome to Dance Academy
    section#intromission
        div.block 
                h1 Dance the way you like
                div.idk
                    div 
                        img(src="../static/dance2.jpg", alt="" class='init')
                    div.card-content
                        | Best Dance acedamy of the universe Lorem ipsum dolor sit amet.

        div.block 
                h1 Dance Perfection
                div.idk
                    div 
                        img(src="../static/dance3.jpg", alt="" class='init')
                    div.card-content
                        | Best Dance acedamy of the universe Lorem ipsum dolor sit amet.
        div.block 
                h1 Expert Teaching
                div.idk
                    div 
                        img(src="../static/dance4.jpg", alt="" class='init')
                    div.card-content
                        |Best Dance acedamy of the universe Lorem ipsum dolor sit amet.
    section#sponserssection 
            img(src="../static/comp1.png", alt="" class="spon")
            Img(src="../static/comp2.webp", alt="" class="spon")
            img(src="../static/comp3.jpg", alt="" class="spon")
            img(src="../static/comp4.png", alt="" class="spon")
            img(src="../static/comp5.png", alt="" class="spon")