.in{
    display: block;
    width: 32%;
    margin: 39px auto;
    padding: 2px 2px;
    border-radius: 10px;
}
form>h1{
    margin: 12px 2px;
    padding: 3px 2px;
    text-align: center;
}
.btn{
    border-radius: 10px;
    display: block;
    width: 8%;
    height: 28px;
    margin: 16px auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
}
form{
    width: 100%;
}